* {
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --my-color: #1b1b1bcc;
}
.navigation {
  height: auto;
  min-width: 312px;
  margin: 0px;
  border-bottom: 2px solid gold;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  height: 70px;
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 69px;
  background: var(--my-color);
  color: white;
  text-decoration: none;
  border-bottom: 2px solid gold;
  /*
    The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
    */
}

.search-func{
width: 300px;
padding: 0 20px;
display: flex;
justify-content: center;
align-items: center;
column-gap: 4px;
}

#search{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 5px;
  font-style: italic;
  font-weight: 500;
}

.search-btn{
  background-color: black;
  color: white;
}
.search-btn:hover{
  color: #fb5958;
  cursor: pointer;
}

nav ul li a:hover {
  transition-property: all;
  transition-duration: 400ms;
  /* background: #fff; */
  color: #fb5958;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

#nav_toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  border: none;
  padding: 10px 35px 16px 0px;
}
#nav_toggle span,
#nav_toggle span:before,
#nav_toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  border: none;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav_toggle span:before {
  top: -10px;
}
#nav_toggle span:after {
  bottom: -10px;
}
#nav_toggle.active span {
  background-color: transparent;
}
#nav_toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav_toggle.active span:before {
  transform: rotate(45deg);
}
#nav_toggle.active span:after {
  transform: rotate(-45deg);
}

.brand {
  margin-left: 10px;
  height: 70px;
  width: 15%;
  min-width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("logo.png");
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 5px;
  font-family: "Montserrat", sans-serif;
}
.brand a,
.brand a:visited {
  color: #463f3f;
  text-decoration: none;
}

.navigation {
  height: 70px;
  background-color:var(--my-color);
}

@media only screen and (max-width: 1250px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  .nav_list {
    display: none;
  }

  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  #nav_list.active {
    display: block;
  }
}

@media screen and (min-width: 1250px) {
  .nav_list {
    display: block !important;
  }
  .brand {
    position: absolute;
    padding-left: 20px;
    float: left;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 1.4em;
    letter-spacing: 5px;
    font-family: "Montserrat", sans-serif;
  }
}
